{% extends "core/base.html" %}
{% block title %}Inicio{% endblock title %}

{% block background %}{% load static %}{% static 'core/img/inicio.jpg' %}{% endblock %}

{% block header %}
    <h1>EldiLex</h1>
    <span class="subheading">Inicio</span>
{% endblock header %}

{% block content %}
    <h2 align="center">Propósito</h2>
    <p align="center" style="max-width: 80%; margin: 0 auto;">
        EldiLex una plataforma diseñada para los amantes de la lengua élfica
        creada por el renombrado autor J.R.R. Tolkien. El mundo de la Tierra Media de
        Tolkien es vasto y complejo, y su lengua élfica, conocida como Quenya y Sindarin,
        ha fascinado a generaciones de seguidores de sus obras. EldiLex se propone como una
        guía esencial para aquellos que desean explorar y entender esta lengua, proporcionando
        una amplia colección de palabras y las capacidades de actualizarse y crecer junto a ambos idiomas.
    </p>
{% endblock content %}
